
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Kategori Sayfası</h2>
<br />
 //grup olan ve içindeki değerler post olduğunda çalışacak
<form class="form-group" method="post">


</form>

