
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<div style="background-color:darkgray">
    deneme
</div>
<br />
<table class="table table-hover">
   <tr>
       <th>Personel ID</th>
       <th>Ad</th>
       <th>Soyad</th>
       <th>Görsel</th>
       <th>Satışlar</th>
   </tr>
    <tr>

    </tr>
</table> 

