@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />

<table class="table table-bordered">
    <tr>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>Kategori</th>
        <th>Detay</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.UrunAd</td>
            <td>@u.Marka</td>
            <td>@u.Stok</td>
            <td>@u.Kategori.KategoriAd</td>
            <td>
                <a href="/UrunDetay/UrunuGoruntule/@u.UrunId" class="btn btn-primary">Detay</a>
            </td>
           
        </tr>

    }
</table>
